<div class="site__content">
  <div class="container">
    @include('../../common/breadcrumbs.html', {path: '<a href="page-main.html">Главная</a>&ensp;&#47;&ensp;', page: 'Текущая страница'})
    <div class="row mt-4">
      <div class="col-12 col-xl-9 mb-4 mb-xl-0">
        <main class="pb-5 pb-xl-0 pl-xl-3 site__separated-main">
          <h1 class="h2 site__h1">
            <!-- title -->
          </h1>
          <!-- main content -->
        </main>
      </div>
      <div class="col-12 col-xl-3 order-xl-first">
        <aside>
          <!-- aside content -->
        </aside>
      </div>
    </div>
  </div>
</div>