.book-card {
  padding: 10px;
  display: flex;
  align-items: flex-start;

  &__cover {
    display: flex;
    align-items: center;
    width: 80px;
    height: 120px;
    flex-shrink: 0;
    margin-right: 16px;
    background-color: var(--gray-10);
    background-image: url("data:image/svg+xml,%3Csvg width='166' height='220' viewBox='0 0 166 220' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M106.03 75.5957H18.6728C17.7391 75.5957 16.9844 76.3824 16.9844 77.3557C16.9844 78.329 17.7391 79.1157 18.6728 79.1157H106.03C106.964 79.1157 107.719 78.329 107.719 77.3557C107.719 76.3824 106.964 75.5957 106.03 75.5957Z' fill='%238F8F8F'/%3E%3Cpath d='M106.03 92.7764H18.6728C17.7391 92.7764 16.9844 93.5631 16.9844 94.5364C16.9844 95.5096 17.7391 96.2964 18.6728 96.2964H106.03C106.964 96.2964 107.719 95.5096 107.719 94.5364C107.719 93.5631 106.964 92.7764 106.03 92.7764Z' fill='%238F8F8F'/%3E%3Cpath d='M106.03 109.959H18.6728C17.7391 109.959 16.9844 110.746 16.9844 111.719C16.9844 112.693 17.7391 113.479 18.6728 113.479H106.03C106.964 113.479 107.719 112.693 107.719 111.719C107.719 110.746 106.964 109.959 106.03 109.959Z' fill='%238F8F8F'/%3E%3Cpath d='M106.03 127.139H18.6728C17.7391 127.139 16.9844 127.925 16.9844 128.899C16.9844 129.872 17.7391 130.659 18.6728 130.659H106.03C106.964 130.659 107.719 129.872 107.719 128.899C107.719 127.925 106.964 127.139 106.03 127.139Z' fill='%238F8F8F'/%3E%3Cpath d='M147.234 144.32H86.249C85.3153 144.32 84.5605 145.107 84.5605 146.08C84.5605 147.053 85.3153 147.84 86.249 147.84H147.234C148.168 147.84 148.923 147.053 148.923 146.08C148.923 145.107 148.168 144.32 147.234 144.32Z' fill='%238F8F8F'/%3E%3Cpath d='M147.234 161.501H86.249C85.3153 161.501 84.5605 162.288 84.5605 163.261C84.5605 164.234 85.3153 165.021 86.249 165.021H147.234C148.168 165.021 148.923 164.234 148.923 163.261C148.923 162.288 148.168 161.501 147.234 161.501Z' fill='%238F8F8F'/%3E%3Cpath d='M147.234 178.681H86.249C85.3153 178.681 84.5605 179.467 84.5605 180.441C84.5605 181.414 85.3153 182.201 86.249 182.201H147.234C148.168 182.201 148.923 181.414 148.923 180.441C148.923 179.467 148.168 178.681 147.234 178.681Z' fill='%238F8F8F'/%3E%3Cpath d='M147.234 195.863H86.249C85.3153 195.863 84.5605 196.65 84.5605 197.623C84.5605 198.597 85.3153 199.383 86.249 199.383H147.234C148.168 199.383 148.923 198.597 148.923 197.623C148.923 196.65 148.168 195.863 147.234 195.863Z' fill='%238F8F8F'/%3E%3Cpath d='M147.236 75.5957H120.864C119.931 75.5957 119.176 76.3824 119.176 77.3557C119.176 78.329 119.931 79.1157 120.864 79.1157H147.236C148.17 79.1157 148.925 78.329 148.925 77.3557C148.925 76.3824 148.17 75.5957 147.236 75.5957Z' fill='%238F8F8F'/%3E%3Cpath d='M147.236 92.7764H120.864C119.931 92.7764 119.176 93.5631 119.176 94.5364C119.176 95.5096 119.931 96.2964 120.864 96.2964H147.236C148.17 96.2964 148.925 95.5096 148.925 94.5364C148.925 93.5631 148.17 92.7764 147.236 92.7764Z' fill='%238F8F8F'/%3E%3Cpath d='M147.236 109.959H120.864C119.931 109.959 119.176 110.746 119.176 111.719C119.176 112.693 119.931 113.479 120.864 113.479H147.236C148.17 113.479 148.925 112.693 148.925 111.719C148.925 110.746 148.17 109.959 147.236 109.959Z' fill='%238F8F8F'/%3E%3Cpath d='M147.236 127.139H120.864C119.931 127.139 119.176 127.925 119.176 128.899C119.176 129.872 119.931 130.659 120.864 130.659H147.236C148.17 130.659 148.925 129.872 148.925 128.899C148.925 127.925 148.17 127.139 147.236 127.139Z' fill='%238F8F8F'/%3E%3Cpath d='M160.422 0H5.48601C2.7372 0 0.5 2.33024 0.5 5.19552V214.804C0.5 217.67 2.7372 220 5.48601 220H160.422C163.171 220 165.407 217.67 165.407 214.804V5.19552C165.407 2.33024 163.171 0 160.422 0ZM162.03 214.804C162.03 215.728 161.309 216.48 160.422 216.48H5.48601C4.59957 216.48 3.87691 215.728 3.87691 214.804V5.19552C3.87691 4.27152 4.59957 3.52 5.48601 3.52H160.422C161.309 3.52 162.03 4.27152 162.03 5.19552V214.804Z' fill='%238F8F8F'/%3E%3Cpath d='M147.237 20.6167H18.6728C17.7391 20.6167 16.9844 21.4034 16.9844 22.3767V60.1745C16.9844 61.1477 17.7391 61.9345 18.6728 61.9345H147.235C148.169 61.9345 148.924 61.1477 148.925 60.1745V22.3767C148.925 21.4034 148.171 20.6167 147.237 20.6167ZM145.549 58.4145H20.3613V24.1367H145.549V58.4145Z' fill='%238F8F8F'/%3E%3Cpath d='M68.121 144.32H18.6728C17.7391 144.32 16.9844 145.107 16.9844 146.08V197.623C16.9844 198.596 17.7391 199.383 18.6728 199.383H68.121C69.0547 199.383 69.8094 198.596 69.8094 197.623V146.08C69.8094 145.107 69.0547 144.32 68.121 144.32ZM66.4325 195.863H20.3613V147.84H66.4325V195.863Z' fill='%238F8F8F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    border-radius: 6px;
    padding: 6px;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  &__meta {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-size: 1.8rem;
  }

  &__link {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55.3846 44.815V50.5497C55.3846 50.9553 55.2225 51.3443 54.934 51.6311C54.6455 51.9179 54.2542 52.079 53.8462 52.079H6.15385C5.74582 52.079 5.35451 51.9179 5.06599 51.6311C4.77747 51.3443 4.61538 50.9553 4.61538 50.5497V44.815H0V56.6668H60V44.815H55.3846ZM47.7285 24.3877L44.4654 21.1442L34.9338 30.618C34.7187 30.8318 34.4446 30.9774 34.1462 31.0364C33.8478 31.0953 33.5385 31.0651 33.2575 30.9493C32.9764 30.8336 32.7361 30.6377 32.5671 30.3862C32.398 30.1348 32.3078 29.8392 32.3077 29.5368V3.3335H27.6923V29.5368C27.6922 29.8392 27.602 30.1348 27.4329 30.3862C27.2639 30.6377 27.0236 30.8336 26.7425 30.9493C26.4615 31.0651 26.1522 31.0953 25.8538 31.0364C25.5554 30.9774 25.2813 30.8318 25.0662 30.618L15.5346 21.1442L12.2715 24.3877L30 42.0111L47.7285 24.3877Z' fill='%238F8F8F'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @include media-min ($lg) {
    &__cover {
      width: 150px;
      height: 220px;
    }
  }

  @include media-min ($xxl) {
    &__cover {
      width: 200px;
      height: 300px;
      margin-right: 24px;
    }

    &__title {
      font-size: 2.4rem;
      margin-bottom: 24px;
    }
  }
}