.cronicle-date {
  line-height: 1;
  font-size: 2rem;
  font-weight: 400;
  display: grid;
  justify-content: start;
  cursor: default;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
  }

  &__day {
    font-size: 2.1rem;
  }

  &__bot {
    font-size: 3.4rem;
  }

  @include media-min ($xxl) {
    font-size: 2.4rem;

    &__day {
      font-size: 2.5rem;
    }

    &__bot {
      font-size: 4.2rem;
    }
  }
}