.district-grid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include media-min ($md) {
    --cols: 4;
  }

  @include media-min ($lg) {
    --cols: 5;
  }

  @include media-min ($xl) {
    gap: 20px;
  }

  @include media-min ($xxl) {
    --cols: 6;
  }
}

.district-item {
  position: relative;
  display: list-item;
  padding: 10px;
  text-align: center;

  &__img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 16px;
  }

  &__link {
    text-decoration-color: currentColor;
    text-decoration-thickness: from-font;
    text-underline-offset: 4px;

    @include any-hover {
      &:hover {
        &::after {
          box-shadow: 0 3px 20px 2px var(--lightgray);
        }
      }

      &.focus-visible {
        outline: none;

        &::after {
          outline: 2px dashed var(--gray);
          outline-offset: 2px;
        }
      }
    }

    &::after {
      @include full-size;

      content: '';
      border-radius: 10px;
      box-shadow: 0 3px 7px 2px var(--lightgray);
      transition: var(--duration-default) ease-in-out;
      transition-property: box-shadow;

    }
  }

  @include media-min ($xl) {
    padding: 16px;
  }

  @include media-min ($xxl) {
    font-size: 1.8rem;
    padding: 24px;

    &__link {
      text-underline-offset: 5px;
    }
  }
}

.location-list-control {
  display: grid;
  gap: 16px;

  @include media-min ($md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;

    &__search {
      flex-grow: 1;
      max-width: 600px;
    }

    &__btn {
      padding: 14px 12px;
      flex-shrink: 0;
      margin-left: 60px;
      min-width: 200px;
    }
  }

  @include media-min ($xl) {
    &__btn {
      min-width: 230px;
    }
  }

  @include media-min ($xxl) {
    &__btn {
      min-width: 290px;
    }
  }
}

.location-list {
  display: grid;
  gap: 8px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    border-radius: 4px;
    color: var(--black);
    background-color: var(--lightgray);

    @include any-hover {
      transition: var(--duration-fast) ease-in-out;
      transition-property: filter;

      &:hover {
        filter: opacity(0.9);
      }
    }

    &.focus-visible {
      outline: 2px dashed var(--gray);
      outline-offset: 2px;
    }
  }

  @include media-min ($md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-min ($lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-min ($xxl) {
    gap: 30px;

    &__item {
      padding: 20px;
      font-size: 2rem;
    }
  }
}

.location {
  font-style: normal;
  text-transform: uppercase;
  text-decoration-thickness: from-font;

  &--no-resident {
    color: var(--black);
    text-decoration-line: line-through;
  }

  &--included {
    color: var(--brown);
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}