.visually-hidden:not(:focus):not(:active),
input[type='radio'].visually-hidden,
input[type='checkbox'].visually-hidden,
input[type='file'].visually-hidden {
  @include visually-hidden;
}

#site-top {
  position: absolute;
  top: 0;
  visibility: hidden;
}

.indent-reset {
  @include indent-reset;
}

.list-reset {
  @include list-reset;
}

.list-row {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.btn-reset {
  @include btn-reset;
}

.is-lock-scroll {
  overflow: hidden;
  padding-right: var(--page-offset-right, 0);

  @include media-min ($xl) {
    overflow: visible;
  }
}

.is-full-height {
  height: 100%;
}

.is-service-page {
  position: relative;
  min-height: 680px;

  &::after {
    content: '';
    position: absolute;
    bottom: 64px;
    right: max(15px, calc((100% - var(--max-site-width, 1440px) + 335px) / 2));
    width: 335px;
    height: 554px;
    pointer-events: none;
    background-image: url('../img/static/monument.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    z-index: -1;
  }
}